$Source_Sans_Pro:'Source Sans Pro',
sans-serif;
$Hind:'Hind',
sans-serif;
$Fresa: 'Fresca',
sans-serif;

$contentBackground: #fff;

$header_color: #572845;
$header_txt_color:#fff;

$btn_color:#989898;

$h2_main_color:#232323;

$section_tours_color:#b08ca2;

$bg_block_reviews:#8c6e79;
$color_block_reviews:#cba2b0;

$bg_section_find_tour:#9f86a2;
$input_color:#5b456e;
$h2_section_find_tour:#5b456e;

$bg_footer:#5d3d85;
$footer_txt_color:#a15ffd;
$copy_footer_txt_color:#16316b;


%flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@mixin tour_img {
    width: 250px;

}

$background_img:url(../img/4.jpg);